.swipe {
    height: 92vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity 0.1s ease-in-out;
    &--status {
      position: absolute;
      top: 50%;
      margin-top: -30px;
      z-index: 2;
      width: 100%;
      text-align: center;
      pointer-events: none;
      svg {
        font-size: 100px;
        opacity: 0;
        transform: scale(0.3);
        transition: all 0.2s ease-in-out;
        position: absolute;
        margin: -40px 0 0 -40px;
        width: 100px;
      }
    }
    &--cards {
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      z-index: 1;
      .no-user {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.is-active {
          display: flex;
        }
      }
    }
    &--card {
      display: inline-block;
      max-width: 400px;
      background: #FFFFFF;
      border-radius: 8px;
      overflow: hidden;
      position: absolute;
      will-change: transform;
      transition: all 0.3s ease-in-out;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
      p {
        margin-top: 24px;
        font-size: 20px;
        padding: 0 16px;
        pointer-events: none;
      }
      img {	
        width: 130%;
        height: 100%;	
        pointer-events: none;
        object-fit: cover;
      }
    }
    &--buttons {
      flex: 0 0 100px;
      text-align: center;
      padding-top: 20px;
      position: absolute;
      z-index: 10;
      bottom: 5%;
      left: calc(50% - 80px);
      button {
        border-radius: 50%;
        line-height: 60px;
        width: 60px;
        border: 0;
        background: #FFFFFF;
        display: inline-block;
        margin: 0 8px;
        &:focus {
          outline: 0;
        }
      }
    }
    &--result-buttons {
        flex: 0 0 100%;
        text-align: center;
        padding-top: 40%;
        button {
          border-radius: 50%;
          line-height: 70%;
          width: 20%;
          border: 0;
          background: #FFFFFF;
          display: inline-block;
          margin: 0 8px;
          &:focus {
            outline: 0;
          }
        }
      }
    &_like .fa-home {
      opacity: 0.7;
      transform: scale(1);
    }
    &_dislike .fa-undo {
      opacity: 0.7;
      transform: scale(1);
    }
    .moving .swipe--card {
      transition: none;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }
  }

  .fa-heart {
    color: #f936b8;
  }
  
  .fa-times {
    color: #0084e9;
  }

  .fa-image {
    color: #ef0e0b;
  }

  .fa-undo {
    color: #0a0606;
  }

